:root {
  --lilac: #C5ADEF;
  --grey: #B2B3BB;
  --light: #ECF1F8;
  --dark: #3E4056;
  --mandy1: #ED5267;
  --mandy2: #FC719F;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

ol, ul {
	list-style: none;
}

button,
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.card-font {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: left;
}

.container {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}


/* HEADER */

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 112px;
  background-color: #fff;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
}

.plus-button {
  position: absolute;
  bottom: -32px;
  right: 118px;

  width: 64px;
  height: 64px;
  font-size: 45px;
  color: #fff;
  background: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
  border-radius: 50%;
}

.header__container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 113px 0 135px;
}

.header .left {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}

.logo {
  width: 50px;
  height: 23px;
  background: url(assets/svg/logo.svg) no-repeat;
  background-position: 0 3px;
}

.left__nav .nav__list {
  display: flex;
  height: 40px;
  gap: 0 39px;
}

.left__nav .nav__list-item {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--dark);
  cursor: pointer;
}

.left__nav .nav__list-item_active {
  font-weight: 600;
  color: var(--dark);
  border-bottom: 4px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
}

.header .right {
  height: 100%;
  display: flex;
  align-items: flex-start;
  gap: 0 17px;
}

.user {
  display: flex;
  align-items: center;
}

.user__name {
  margin-right: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
  text-align: left;
}

.user__img {
  margin-right: 12px;
  width: 32px;
  height: 32px;
  background: url(assets/img/user-img.png) no-repeat;
  background-position: center;
}

.user__button {
  width: 16px;
  height: 16px;
  background: url(assets/svg/user-btn.svg) no-repeat;
  background-position: center;
  cursor: pointer;
}

.right__nav .nav__list {
  display: flex;
}

.right__nav .nav__list-item {
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.right__nav .nav__list-item:nth-child(1) {
  background-image: url(assets/svg/nav-notifications.svg);
}

.right__nav .nav__list-item:nth-child(2) {
  background-image: url(assets/svg/nav-share.svg);
}

.right__nav .nav__list-item:nth-child(3) {
  background-image: url(assets/svg/nav-medium.svg);
}



/* MAIN */

.main {
  width: 100%;
  height: 100%;
  padding-top: 112px;
  padding-bottom: 246px;
  background-color: var(--light);
}

.main__container {
  padding: 72px 118px 0 135px;
  display: flex;
  gap: 0 4.5%;
}

.main .left {
  position: relative;
  flex-basis: 29.5%;
  display: flex;
  flex-direction: column;
}

.main .right {
  flex-basis: 66%;
}

.details {
  margin-bottom: 32px;
  display: flex;
  gap: 0 24px;
}

.details__avatar {
  width: 160px;
  height: 120px;
  background: url(assets/img/avatar.png) no-repeat;
}

.details__info {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}

.details__heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #3E3F58;
}

.details__link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
  text-align: left;
  color: #3E3F58;
}

.details__button {
  width: 107px;
  height: 30px;
  padding: 8px 0 0 0;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: right;

  text-decoration-line: underline;
  color: #F05D63;
  background: transparent url(assets/svg/edit.svg) no-repeat;
  background-position: 0 10px;
}

.details__button::before {
  content: '';
  width: 20px;
  height: 20px;
  background: url(assets/svg/edit.svg) no-repeat;
}

.followers {
  margin-bottom: 23.5px;
}

.folowers__list {
  display: flex;
  gap: 0 50.5px;
}

.followers__list-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #636363;
}

.followers__list-item .count {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #3E3F58;
}

.description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #3E3F58;
}

.left__dots-btn {
  position: absolute;
  top: 3.5px;
  right: 14px;

  width: 16px;
  height: 16px;
  background: url(assets/svg/dots-menu.svg) no-repeat;
}

.left__menu {
  position: absolute;
  top: 40px;
  right: -142px;
  z-index: 100;

  width: 176px;
  height: 124px;
  padding: 24px 0;
  display: flex;
  flex-direction: column;

  background-color: #fff;
  backdrop-filter: blur(21.7463px);
  opacity: 0.94;
  border-radius: 8px;
}

.left__menu_hidden {
  display: none;
}

.left__menu p {
  width: 100%;
  height: 38px;
  padding: 0 0 0 60px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;

  color: var(--dark);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 24px;
}

.left__menu p::before {
  content: '';
  display: inline-block;
  height: 38px;
  vertical-align: middle;
}

.left__menu p:hover {
  background-color: var(--light);
  cursor: pointer;
}

.menu__report {
  background-image: url(assets/svg/report.svg);
}

.menu__block {
  background-image: url(assets/svg/block.svg);
}

/* CARDS */

.right__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 24px;
}

.right__card {
  position: relative;
  padding: 24px 24px 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
  border-radius: 14px;
}

.right__card button {
  background-color: transparent;
}

.card1,
.card2 {
  justify-content: space-between;
}

.card__heading {
  margin-bottom: 44px;
  color: var(--dark);
}

.card1 .card__heading,
.card2 .card__heading {
  padding-top: 32px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__author {
  display: flex;
  gap: 0 8px;
  align-items: center;
}

.author__img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #B2B3BB;
}

.author__name {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--dark)
}

.card__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 16px;
}

.card__share {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #F05D63;
}

.card__source {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark);
}

.source__tag {
  word-break: break-all;
  font-size: 16px;
  line-height: 16px;
  color: var(--dark);
  background-color: var(--light);
}

.card__view,
.card__like {
  display: flex;
  align-items: center;
  gap: 0 8px;
}

.view__icon,
.like__icon {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.view__count,
.like__count {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: var(--dark);
}

.view__icon {
  background-image: url(assets/svg/view.svg);
}

.like__icon {
  background-image: url(assets/svg/like.svg);
}

.card4 .card__source {
  display: flex;
  align-items: center;
  gap: 0 2.81px;
}

.source__icon {
  width: 18.38px;
  height: 18.38px;
  background: url(assets/svg/source.svg) no-repeat;
  background-position: center;
}

.source__data {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color:var(--dark);
}

/* SWITCHER */

.right__privacy-switcher {
  margin-bottom: 62px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  gap: 0 30px;
}

.right__privacy-switcher p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color:var(--dark)
}

.switcher {
  width: 40px;
  height: 24px;
  background: url(assets/svg/switcher.svg) no-repeat;
}